<div class="container">
    <div class="tramp_tm_contact">
      <div class="tramp_tm_title">
        <h3>
          <span>Get in Touch</span>
        </h3>
      </div>

      <!-- Adress Phone and Email ID-->
      <div class="infolist">
        <ul>
          <li>
            <div class="list_inner">
              <span>Address</span>
              <span>Navi Mumbai, India</span>
            </div>
          </li>
          <li>
            <div class="list_inner">
              <span>Phone</span>
              <span
                ><a class="line_effect" href="tel:+918850612106"
                  >+91 88506 12106</a
                ></span
              >
            </div>
          </li>
          <li>
            <div class="list_inner">
              <span>Mail</span>
              <span>
                <a class="line_effect" href="mailto:contact@sreedevnair.com">contact@sreedevnair.com</a>
              </span>
            </div>
          </li>
        </ul>
      </div>

      <!-- Contact Form -->
      {% if success_message %}
      <span style="text-align: center;">
        <h2>{{success_message}}</h2>
      </span>
      
      {% elif error_msg %}
      <span style="text-align: center;">
        <h2>{{error_msg}}</h2>
      </span>

      {% else %}
      <div class="form_wrapper">
        <form id="contactForm" action="{% url 'index' %}" method="post">
          {% csrf_token %}

          <!-- Input Fields -->
          <ul>
            <li>
              <input
                type="text"
                placeholder="Name"
                name="contact_name"
                required
              />
              <span></span>
            </li>
            <li>
              <input
                type="email"
                placeholder="Email"
                name="contact_email"
                required
              />
              <span></span>
            </li>
            <li id="text-area-w">
              <textarea
                placeholder="Message"
                name="contact_message"
                required
              ></textarea>
            </li>
          </ul>
          
          <div class="tramp_tm_button">
            <a id="send_message" class="tm_text_effect" href="#">Send Message</a>
          </div>

          <script>
            document.addEventListener("DOMContentLoaded", function() {
                document.getElementById("send_message").addEventListener("click", function(event) {
                    event.preventDefault(); // Prevent the default anchor behavior
                    
                    // Get the form element
                    var form = document.getElementById("contactForm");
            
                    // Check if the form is valid
                    if (form.checkValidity()) {
                        form.submit(); // Submit the form if valid
                    } else {
                        form.reportValidity(); // Trigger validation UI if invalid
                    }
                });
            });
          </script>

        </form>
      </div>

      {% endif %}
    
    <script>
        document.getElementById('contactForm').addEventListener('submit', function(e) {
            // Save the "Contact" section before the form is submitted
            localStorage.setItem('currentSection', 'contact');
        });
    </script>
    
    </div>
  </div>