{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="sreedevnair" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <title>Sreedev Nair | Home</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Syne:wght@400;500;600;700;800&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo+Black&amp;display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/plugins.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/modalbox.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <!--[if lt IE 9]>
      <script type="text/javascript" src="{% static 'js/modernizr.custom.js' %}"></script>
    <![endif]-->
  </head>

  <body>
    <div id="preloader">
      <div class="loader_line"></div>
    </div>

    <div
      class="tramp_tm_all_wrap"
      data-magic-cursor="show"
      data-enter="fadeInLeft"
      data-exit
    >
      <div class="tm_borders"></div>
      <div class="tm_borders2"></div>

      <div class="tramp_tm_topbar">
        <div class="topbar_inner">
          <div class="logo transition_link" data-type="image">
            <a href="#home">
              <img src="{% static 'img/logo/dark.png' %}" alt />
              <h3>Tramp</h3>
            </a>
          </div>
          <div class="trigger">
            <div class="hamburger hamburger--slider">
              <div class="hamburger-box">
                <div class="hamburger-inner"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Mobile Navbar -->
      <div class="tramp_tm_mobile_menu">
        <div class="menu_list">
          <ul class="transition_link">
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#academics">Academics</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
        <div class="extra">
          <div class="social">
            <ul>
              <li>
                <a href="#"
                  ><img class="svg" src="{% static 'img/svg/social/facebook.svg' %}"
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img class="svg" src="{% static 'img/svg/social/dribbble.svg' %}"
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img class="svg" src="{% static 'img/svg/social/instagram.svg' %}"
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img class="svg" src="{% static 'img/svg/social/tik-tok.svg' %}"/></a>
              </li>
            </ul>
          </div>
          <div class="copyright">
            <p>&copy; 2024 Tramp. All rights are reserved</p>
          </div>
        </div>
      </div>

      <!-- Desktop Navbar -->
      <div class="tramp_tm_header">
        <div class="logo transition_link" data-type="image">
          <a href="#home">
            <img src="{% static 'img/logo/dark.png' %}" alt />
            <h3>TRAMP</h3>
          </a>
        </div>
        <div class="menu">
          <ul class="transition_link">
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#academics">Academics</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>

      <div class="main_content">
        <div class="main_content_inner">

          <!------------- Home Page Content ----------------->
          <div id="home" class="tramp_tm_section animated">
            <div class="container">
              <div class="tramp_tm_home">
                <div class="left">
                  <div class="box">
                    <div class="abs_image">
                      <img src="{{ website.profile_picture.url }}" alt />
                      <div class="main" data-img-url="{{ website.profile_picture.url }}"></div>
                    </div>
                  </div>
                </div>
                <div class="right">
                  <div class="name">
                    <h3><span class="stroke_text">{{website.first_name}}</span> {{website.second_name}}</h3>
                  </div>
                  <div class="text">
                    <p>{{website.about_me}}</p>
                  </div>
                  <div class="tramp_tm_button transition_link">
                    <a class="tm_text_effect" href="#contact">Get in Touch</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!------------- About Me Content ----------------->
          <div id="about" class="tramp_tm_section">
            <div class="container">
              <div class="tramp_tm_about">
                <div class="biography">
                  <div class="tramp_tm_title">
                    <h3><span>Biography</span></h3>
                  </div>
                  <div class="text">
                    <p>
                      Hi, my name is Kevin Parker and I began using WordPress
                      when it first began. I’ve spent most of my waking hours
                      for the last ten years designing, programming, and
                      operating WordPress sites. One of my specialties is taking
                      an idea from scratch and creating a full-fledged platform.
                      I go beyond to produce sites with a unique, outstanding,
                      contemporary look-and-feel. My passion for UI/UX design
                      drives me to stay updated with the latest trends and
                      techniques, ensuring that every site I create is not only
                      visually appealing but also user-friendly and optimized
                      for performance. Whether it’s a personal blog, an
                      e-commerce store, or a complex web application, I thrive
                      on turning ideas into reality and delivering exceptional
                      digital experiences.
                    </p>
                  </div>
                  <div class="tramp_tm_button">
                    <a class="tm_text_effect" href="{% static 'img/cv/1.jpg' %}" download
                      >Download CV</a
                    >
                  </div>
                </div>
                <div class="personal_details">
                  <div class="tramp_tm_flexbox">
                    <div class="leftbox">
                      <div class="tramp_tm_title">
                        <h3><span>Personal Informations</span></h3>
                      </div>
                      <div class="list">
                        <ul>
                          <li>
                            <span>Name:</span>
                            <span>Kevin Parker</span>
                          </li>
                          <li>
                            <span>Address:</span>
                            <span>Ave Street 177, New York, USA</span>
                          </li>
                          <li>
                            <span>Study:</span>
                            <span>Univercity of Texas</span>
                          </li>
                          <li>
                            <span>Degree:</span>
                            <span>Master of Design</span>
                          </li>
                          <li>
                            <span>Mail:</span>
                            <span
                              ><a class="line_effect" href="#"
                                ><span
                                  class="__cf_email__"
                                  data-cfemail="d2b8b3bfb7a192b7aab3bfa2beb7fcb1bdbf"
                                  >[email&#160;protected]</span
                                ></a
                              ></span
                            >
                          </li>
                          <li>
                            <span>Phone:</span>
                            <span
                              ><a class="line_effect" href="#"
                                >+44 077 155 09 09</a
                              ></span
                            >
                          </li>
                          <li>
                            <span>Freelance:</span>
                            <span>Available</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="rightbox">
                      <div class="tramp_tm_title">
                        <h3><span>Programming Skills</span></h3>
                      </div>
                      <div class="tramp_progress">
                        <div class="progress_inner" data-value="95">
                          <span
                            ><span class="label">HTML &amp; CSS</span
                            ><span class="number">95%</span></span
                          >
                          <div class="background">
                            <div class="bar">
                              <div class="bar_in"></div>
                            </div>
                          </div>
                        </div>
                        <div class="progress_inner" data-value="80">
                          <span
                            ><span class="label">JavaScript</span
                            ><span class="number">80%</span></span
                          >
                          <div class="background">
                            <div class="bar">
                              <div class="bar_in"></div>
                            </div>
                          </div>
                        </div>
                        <div class="progress_inner" data-value="90">
                          <span
                            ><span class="label">WordPress</span
                            ><span class="number">90%</span></span
                          >
                          <div class="background">
                            <div class="bar">
                              <div class="bar_in"></div>
                            </div>
                          </div>
                        </div>
                        <div class="progress_inner" data-value="95">
                          <span
                            ><span class="label">WooCommerce</span
                            ><span class="number">95%</span></span
                          >
                          <div class="background">
                            <div class="bar">
                              <div class="bar_in"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="infobox">
                  <div class="tramp_tm_flexbox">
                    <div class="leftbox">
                      <div class="tramp_tm_title">
                        <h3><span>Development Services</span></h3>
                      </div>
                      <div class="list">
                        <ul>
                          <li>
                            <span
                              ><label>&#9900;</label> WordPress Development
                              (starts from $200)</span
                            >
                          </li>
                          <li>
                            <span
                              ><label>&#9900;</label> WooCommerce Integration
                              (starts from $150)</span
                            >
                          </li>
                          <li>
                            <span
                              ><label>&#9900;</label> Appointment Booking
                              Plugins (starts from $1000)</span
                            >
                          </li>
                          <li>
                            <span
                              ><label>&#9900;</label> Working with Database
                              (starts from $500)</span
                            >
                          </li>
                          <li>
                            <span
                              ><label>&#9900;</label> From Figma to HTML (starts
                              from $300)</span
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="rightbox">
                      <div class="tramp_tm_title">
                        <h3><span>Designing Services</span></h3>
                      </div>
                      <div class="list">
                        <ul>
                          <li>
                            <span
                              ><label>&#9900;</label> Social Media Graphics
                              (starts from $200)</span
                            >
                          </li>
                          <li>
                            <span
                              ><label>&#9900;</label> Design Strategy Sessions
                              (starts from $150)</span
                            >
                          </li>
                          <li>
                            <span
                              ><label>&#9900;</label> Responsive Design (starts
                              from $1000)</span
                            >
                          </li>
                          <li>
                            <span
                              ><label>&#9900;</label> User Feedback Analysis
                              (starts from $500)</span
                            >
                          </li>
                          <li>
                            <span
                              ><label>&#9900;</label> Component Libraries
                              (starts from $300)</span
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="infobox">
                  <div class="tramp_tm_flexbox">
                    <div class="leftbox">
                      <div class="tramp_tm_title">
                        <h3><span>Hobbies and Interests</span></h3>
                      </div>
                      <div class="list">
                        <ul>
                          <li>
                            <span><label>&#9900;</label> Watching Cinema</span>
                          </li>
                          <li>
                            <span><label>&#9900;</label> Learning Figma</span>
                          </li>
                          <li>
                            <span><label>&#9900;</label> Reading Books</span>
                          </li>
                          <li>
                            <span><label>&#9900;</label> Playing PUBG</span>
                          </li>
                          <li>
                            <span><label>&#9900;</label> Web Design</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="rightbox">
                      <div class="tramp_tm_title">
                        <h3><span>Awwards and Wins</span></h3>
                      </div>
                      <div class="list">
                        <ul>
                          <li>
                            <span
                              ><label>&#9900;</label> The Horizon
                              Interactive</span
                            >
                          </li>
                          <li>
                            <span
                              ><label>&#9900;</label> The Best Coder 2024</span
                            >
                          </li>
                          <li>
                            <span
                              ><label>&#9900;</label> CSS Design Awards</span
                            >
                          </li>
                          <li>
                            <span><label>&#9900;</label> The Webby Awards</span>
                          </li>
                          <li>
                            <span
                              ><label>&#9900;</label> IT Instructor PRO</span
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tramp_tm_timeline">
                  <div class="tramp_tm_title">
                    <h3><span>Working Experience</span></h3>
                  </div>
                  <div class="list">
                    <ul>

                      {% for exp in workexp %}
                      <li>
                        <div class="list_inner">
                          <div class="occ">
                            <h3>{{exp.title}}</h3>
                          </div>
                          <div class="text">
                            <p>{{exp.description}}</p>
                          </div>
                          <div class="date">
                            <span>{{exp.duration | safe}}</span>
                          </div>
                        </div>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>

                <div class="tramp_tm_partners">
                  <div class="tramp_tm_title">
                    <h3><span>Trusted Partners</span></h3>
                  </div>
                  <div class="partners_inner">
                    <ul>
                      <li>
                        <div class="list_inner">
                          <img src="{% static 'img/partners/dark/1.png" alt />
                          <a class="tramp_tm_full_link" a href="#"></a>
                        </div>
                      </li>
                      <li>
                        <div class="list_inner">
                          <img src="{% static 'img/partners/dark/2.png' %}" alt />
                          <a class="tramp_tm_full_link" a href="#"></a>
                        </div>
                      </li>
                      <li>
                        <div class="list_inner">
                          <img src="{% static 'img/partners/dark/3.png' %}" alt />
                          <a class="tramp_tm_full_link" a href="#"></a>
                        </div>
                      </li>
                      <li>
                        <div class="list_inner">
                          <img src="{% static 'img/partners/dark/4.png' %}" alt />
                          <a class="tramp_tm_full_link" a href="#"></a>
                        </div>
                      </li>
                      <li>
                        <div class="list_inner">
                          <img src="{% static 'img/partners/dark/5.png' %}" alt />
                          <a class="tramp_tm_full_link" a href="#"></a>
                        </div>
                      </li>
                      <li>
                        <div class="list_inner">
                          <img src="{% static 'img/partners/dark/6.png' %}" alt />
                          <a class="tramp_tm_full_link" a href="#"></a>
                        </div>
                      </li>
                      <li>
                        <div class="list_inner">
                          <img src="{% static 'img/partners/dark/7.png' %}" alt />
                          <a class="tramp_tm_full_link" a href="#"></a>
                        </div>
                      </li>
                      <li>
                        <div class="list_inner">
                          <img src="{% static 'img/partners/dark/8.png' %}" alt />
                          <a class="tramp_tm_full_link" a href="#"></a>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="tramp_tm_testimonials">
                  <div class="tramp_tm_title">
                    <h3><span>What Clients Say</span></h3>
                  </div>
                  <div class="testimonials_inner">
                    <div class="quote">
                      <img class="svg" src="{% static 'img/svg/quote.svg' %}" alt />
                    </div>
                    <div class="wrapper owl-carousel">
                      <div class="item">
                        <div class="text">
                          <p>
                            I rarely like to write reviews, but the Marketify
                            team truly deserve a standing ovation for their
                            customer support, customisation and most importantly
                            is professionalism. Many thanks once again for
                            everything and hope that I get to deal with you
                            again in the near future! I rarely like to write
                            reviews, but the Marketify team truly deserve a
                            standing ovation for their customer support,
                            customisation and most importantly is
                            professionalism. Many thanks once again for
                            everything and hope that I get to deal with you
                            again in the near future!
                          </p>
                        </div>
                        <div class="details">
                          <div class="avatar">
                            <div
                              class="image"
                              data-img-url="{% static 'img/testimonials/1.jpg' %}"
                            ></div>
                          </div>
                          <div class="info">
                            <h3 class="author"><span>Albert Kennedy</span></h3>
                            <h3 class="job"><span>Architector</span></h3>
                          </div>
                        </div>
                      </div>
                      <div class="item">
                        <div class="text">
                          <p>
                            Minimal design, incredibly well documented, and an
                            absolute pleasure to use! The customer support is
                            one of the absolute best I've ever had the pleasure
                            of interacting with. Quick, courteous, and extremely
                            helpful! Thanks a lot for your hard work! Minimal
                            design, incredibly well documented, and an absolute
                            pleasure to use! The customer support is one of the
                            absolute best I've ever had the pleasure of
                            interacting with. Quick, courteous, and extremely
                            helpful! Thanks a lot for your hard work!
                          </p>
                        </div>
                        <div class="details">
                          <div class="avatar">
                            <div
                              class="image"
                              data-img-url="{% static 'img/testimonials/2.jpg' %}"
                            ></div>
                          </div>
                          <div class="info">
                            <h3 class="author"><span>Mark Scotland</span></h3>
                            <h3 class="job"><span>Photographer</span></h3>
                          </div>
                        </div>
                      </div>
                      <div class="item">
                        <div class="text">
                          <p>
                            Loved the template design, documentation,
                            customizability and the customer support from
                            Marketify team! I am a noob in programming with very
                            little knowledge about coding but the Marketify team
                            helped me to launch my resume website successfully.
                            Loved the template design, documentation,
                            customizability and the customer support from
                            Marketify team! I am a noob in programming with very
                            little knowledge about coding but the Marketify team
                            helped me to launch my resume website successfully.
                          </p>
                        </div>
                        <div class="details">
                          <div class="avatar">
                            <div
                              class="image"
                              data-img-url="{% static 'img/testimonials/3.jpg' %}"
                            ></div>
                          </div>
                          <div class="info">
                            <h3 class="author"><span>Ave Smith</span></h3>
                            <h3 class="job"><span>Designer</span></h3>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!------------- Porfolio Content ----------------->
          <div id="portfolio" class="tramp_tm_section">
            <div class="container">
              <div class="tramp_tm_news">
                <div class="tramp_tm_title">
                  <h3><span>Porfolio Projects</span></h3>
                </div>
        
                <div class="news_filter">
                  <ul>
                    {% for topic in projectfilters %}
                    <li>
                      <a href="#"  {% if forloop.first %} class="current" {% endif %} data-filter=".{{ topic.slug }}">
                        {{topic.topic}}
                      </a>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
        
                <div class="news_list">
                  <ul class="news_item">
                    {% for project in projects %}
                    <li class="{{project.filter_category.slug}}">
                      <div class="list_inner">
                        {% if project.image %}
                        <img class="news_image" src="{{project.image.url}}" alt="{{project.title}}" />
                        {% endif %}
                        <div class="left">
                          <div class="tramp_tm_metabox">
                            <ul>
                              <li>
                                <span>{{project.sub_title}}</span>
                              </li>
                            </ul>
                          </div>
                          <div class="title">
                            <h3>
                              <a class="text_hover_effect" href="#"
                                >{{project.title}}</a
                              >
                            </h3>
                          </div>
                        </div>
                        <div class="right">
                          <h3>Beginner</h3>
                        </div>
        
                        <div class="news_hidden_details">
                          <div class="news_popup_informations">
                            <div class="text">
                              {{project.description | safe}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
        
              </div>
            </div>
          </div>

          <!------------- Academics Content ----------------->
          <div id="academics" class="tramp_tm_section">
            <div class="container">
              <div class="tramp_tm_portfolio">
                <div class="tramp_tm_title">
                  <h3><span>Academic Achievements</span></h3>
                </div>
                <div class="portfolio_filter">
                  <ul>
                    {% for filter in academics_filter %}
                    <li>
                        <a href="#" {% if forloop.first %} class="current" {% endif %} data-filter=".{{ filter.slug }}">
                          {{ filter.category }}
                        </a>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
          
                <div class="portfolio_list">
                  <ul class="portfolio_item">
          
                    {% for academic in academics %}
                    <li class="{{academic.filter_category.slug}}">
                      <div class="list_inner">
                        <div class="abs_image">
                          <img src="{{academic.image.url}}" alt="{{academic.title}}" />
                          <div
                            class="main"
                            data-img-url="{{academic.image.url}}"
                          ></div>
                        </div>
                        <div class="details">
                          <span class="category"><a href="#">{{academic.sub_title}}</a></span>
                          <h3 class="title">
                            <a class="portfolio_popup" href="#"
                              >{{academic.title}}</a
                            >
                          </h3>
                        </div>
          
                        {% if academic.description %}
                        <div class="hidden_content_portfolio">
                          <div class="popup_details">
                            <div class="textbox">
                              <p>{{academic.description}}</p>
                            </div>
                          </div>
                        </div>
                        {% endif %}
                      </div>
                    </li>
                    {% endfor %}
                    
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!------------- Contact Section ----------------->
          <div id="contact" class="tramp_tm_section">
            <div class="container">
              <div class="tramp_tm_contact">
                <div class="tramp_tm_title">
                  <h3>
                    <span>Get in Touch</span>
                  </h3>
                </div>

                <!-- Adress Phone and Email ID-->
                <div class="infolist">
                  <ul>
                    <li>
                      <div class="list_inner">
                        <span>Address</span>
                        <span>Navi Mumbai, India</span>
                      </div>
                    </li>
                    <li>
                      <div class="list_inner">
                        <span>Phone</span>
                        <span
                          ><a class="line_effect" href="tel:+918850612106"
                            >+91 88506 12106</a
                          ></span
                        >
                      </div>
                    </li>
                    <li>
                      <div class="list_inner">
                        <span>Mail</span>
                        <span>
                          <a class="line_effect" href="mailto:contact@sreedevnair.com">contact@sreedevnair.com</a>
                        </span>
                      </div>
                    </li>
                  </ul>
                </div>

                <!-- Contact Form -->
                {% if success_message %}
                <span style="text-align: center;">
                  <h2>{{success_message}}</h2>
                </span>
                <div class="my_map">
                  <div class="mapouter">
                    <div class="gmap_canvas">
                      <iframe
                        width="100%"
                        height="392"
                        id="gmap_canvas"
                        src="https://maps.google.com/maps?q=Broadway,%20New%20York&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=&amp;output=embed"
                        frameborder="0"
                        scrolling="no"
                        marginheight="0"
                        marginwidth="0"
                      ></iframe
                      ><a href="https://123movies-i.net/"></a><br />
                      <style>
                        .mapouter {
                          position: relative;
                          text-align: right;
                          height: 392px;
                          width: 100%;
                        }
                      </style>
                      <style>
                        .gmap_canvas {
                          overflow: hidden;
                          background: none !important;
                          height: 392px;
                          width: 100%;
                        }
                      </style>
                    </div>
                  </div>
                </div>

                {% elif error_msg %}
                <span style="text-align: center;">
                  <h2>{{error_msg}}</h2>
                </span>

                {% else %}
                <div class="form_wrapper">
                  <form id="contactForm" action="{% url 'index' %}" method="post">
                    {% csrf_token %}

                    <!-- Input Fields -->
                    <ul>
                      <li>
                        <input
                          type="text"
                          placeholder="Name"
                          name="contact_name"
                          required
                        />
                        <span></span>
                      </li>
                      <li>
                        <input
                          type="email"
                          placeholder="Email"
                          name="contact_email"
                          required
                        />
                        <span></span>
                      </li>
                      <li id="text-area-w">
                        <textarea
                          placeholder="Message"
                          name="contact_message"
                          required
                        ></textarea>
                      </li>
                    </ul>
                    
                    <div class="tramp_tm_button">
                      <a id="send_message" class="tm_text_effect" href="#">Send Message</a>
                    </div>

                    <script>
                      document.addEventListener("DOMContentLoaded", function() {
                          document.getElementById("send_message").addEventListener("click", function(event) {
                              event.preventDefault(); // Prevent the default anchor behavior
                              
                              // Get the form element
                              var form = document.getElementById("contactForm");
                      
                              // Check if the form is valid
                              if (form.checkValidity()) {
                                  form.submit(); // Submit the form if valid
                              } else {
                                  form.reportValidity(); // Trigger validation UI if invalid
                              }
                          });
                      });
                    </script>

                  </form>
                </div>

                {% endif %}
              
              <script>
                  document.getElementById('contactForm').addEventListener('submit', function(e) {
                      // Save the "Contact" section before the form is submitted
                      localStorage.setItem('currentSection', 'contact');
                  });
              </script>
              
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mouse-cursor cursor-outer"></div>
      <div class="mouse-cursor cursor-inner"></div>

      <div class="tramp_tm_footer">
        <div class="copyright">
          <p>&copy; 2024 SreedevNair</p>
        </div>
        <div class="social">
          <ul>
            <li>
              <a href="#"
                ><img class="svg" src="{% static 'img/svg/social/facebook.svg' %}"
              /></a>
            </li>
            <li>
              <a href="#"
                ><img class="svg" src="{% static 'img/svg/social/dribbble.svg' %}"
              /></a>
            </li>
            <li>
              <a href="#"
                ><img class="svg" src="{% static 'img/svg/social/instagram.svg' %}"
              /></a>
            </li>
            <li>
              <a href="#"
                ><img class="svg" src="{% static 'img/svg/social/tik-tok.svg' %}"
              /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <script
      data-cfasync="false"
      src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"
    ></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/contact.form.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>

    <script>
        // Function to show the desired section
        function showSection(sectionId) {
            // Hide all sections
            document.querySelectorAll('.tramp_tm_section').forEach(section => {
                section.classList.remove('animated');
            });

            // Show the selected section
            const selectedSection = document.getElementById(sectionId);
            if (selectedSection) {
                selectedSection.classList.add('animated');
            }
        }

        // Event listener for navigation links
        document.querySelectorAll('.transition_link a').forEach(link => {
            link.addEventListener('click', function(e) {
                // Get the section ID from href (without the #)
                const sectionId = this.getAttribute('href').substring(1);
                
                // Show the clicked section
                showSection(sectionId);
                
                // Save the current section in sessionStorage
                sessionStorage.setItem('currentSection', sectionId);
            });
        });

        // On page load, check if a section is saved in sessionStorage
        window.addEventListener('load', () => {
            const currentSection = sessionStorage.getItem('currentSection') || 'home';
            showSection(currentSection);
        });
    </script>
  </body>
</html>
