<!------------- Porfolio Content ----------------->
<div id="portfolio" class="tramp_tm_section">
    <div class="container">
      <div class="tramp_tm_news">
        <div class="tramp_tm_title">
          <h3><span>Latest Posts</span></h3>
        </div>
        <div class="news_list">
          <ul>
            <li>
              <div class="list_inner">
                <img class="news_image" src="img/news/1.jpg" alt />
                <div class="left">
                  <div class="tramp_tm_metabox">
                    <ul>
                      <li>
                        <span class="author"
                          >By
                          <a class="line_effect" href="#"
                            >Arnold Walker</a
                          ></span
                        >
                      </li>
                      <li>
                        <span class="author"
                          >In
                          <a class="line_effect" href="#"
                            >Design</a
                          ></span
                        >
                      </li>
                      <li>
                        <span class="date">August 22, 2024</span>
                      </li>
                    </ul>
                  </div>
                  <div class="title">
                    <h3>
                      <a class="text_hover_effect" href="#"
                        >Break down the design process into manageable
                        steps, suitable for beginners</a
                      >
                    </h3>
                  </div>
                </div>
                <div class="right">
                  <h3>01</h3>
                </div>

                <div class="news_hidden_details">
                  <div class="news_popup_informations">
                    <div class="text">
                      <p>
                        Tramp is a leading web design agency with an
                        award-winning design team that creates
                        innovative, effective websites that capture your
                        brand, improve your conversion rates, and
                        maximize your revenue to help grow your business
                        and achieve your goals.
                      </p>
                      <p>
                        In today’s digital world, your website is the
                        first interaction consumers have with your
                        business. That's why almost 95 percent of a
                        user’s first impression relates to web design.
                        It’s also why web design services can have an
                        immense impact on your company’s bottom line.
                      </p>
                      <p>
                        That’s why more companies are not only
                        reevaluating their website’s design but also
                        partnering with Tramp, the web design agency
                        that’s driven more than $2.4 billion in revenue
                        for its clients. With over 50 web design awards
                        under our belt, we're confident we can design a
                        custom website that drives sales for your unique
                        business.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="list_inner">
                <img class="news_image" src="img/news/2.jpg" alt />
                <div class="left">
                  <div class="tramp_tm_metabox">
                    <ul>
                      <li>
                        <span class="author"
                          >By
                          <a class="line_effect" href="#"
                            >Emma Smith</a
                          ></span
                        >
                      </li>
                      <li>
                        <span class="author"
                          >In
                          <a class="line_effect" href="#"
                            >Marketing</a
                          ></span
                        >
                      </li>
                      <li>
                        <span class="date">August 18, 2024</span>
                      </li>
                    </ul>
                  </div>
                  <div class="title">
                    <h3>
                      <a class="text_hover_effect" href="#"
                        >Identify common pitfalls in logo design and why
                        they should be avoided</a
                      >
                    </h3>
                  </div>
                </div>
                <div class="right">
                  <h3>02</h3>
                </div>

                <div class="news_hidden_details">
                  <div class="news_popup_informations">
                    <div class="text">
                      <p>
                        Tramp is a leading web design agency with an
                        award-winning design team that creates
                        innovative, effective websites that capture your
                        brand, improve your conversion rates, and
                        maximize your revenue to help grow your business
                        and achieve your goals.
                      </p>
                      <p>
                        In today’s digital world, your website is the
                        first interaction consumers have with your
                        business. That's why almost 95 percent of a
                        user’s first impression relates to web design.
                        It’s also why web design services can have an
                        immense impact on your company’s bottom line.
                      </p>
                      <p>
                        That’s why more companies are not only
                        reevaluating their website’s design but also
                        partnering with Tramp, the web design agency
                        that’s driven more than $2.4 billion in revenue
                        for its clients. With over 50 web design awards
                        under our belt, we're confident we can design a
                        custom website that drives sales for your unique
                        business.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="list_inner">
                <img class="news_image" src="img/news/3.jpg" alt />
                <div class="left">
                  <div class="tramp_tm_metabox">
                    <ul>
                      <li>
                        <span class="author"
                          >By
                          <a class="line_effect" href="#"
                            >Donald Kuman</a
                          ></span
                        >
                      </li>
                      <li>
                        <span class="author"
                          >In
                          <a class="line_effect" href="#"
                            >Media</a
                          ></span
                        >
                      </li>
                      <li>
                        <span class="date">July 30, 2024</span>
                      </li>
                    </ul>
                  </div>
                  <div class="title">
                    <h3>
                      <a class="text_hover_effect" href="#"
                        >Provide clear explanations and examples for
                        each stage of the design process</a
                      >
                    </h3>
                  </div>
                </div>
                <div class="right">
                  <h3>03</h3>
                </div>

                <div class="news_hidden_details">
                  <div class="news_popup_informations">
                    <div class="text">
                      <p>
                        Tramp is a leading web design agency with an
                        award-winning design team that creates
                        innovative, effective websites that capture your
                        brand, improve your conversion rates, and
                        maximize your revenue to help grow your business
                        and achieve your goals.
                      </p>
                      <p>
                        In today’s digital world, your website is the
                        first interaction consumers have with your
                        business. That's why almost 95 percent of a
                        user’s first impression relates to web design.
                        It’s also why web design services can have an
                        immense impact on your company’s bottom line.
                      </p>
                      <p>
                        That’s why more companies are not only
                        reevaluating their website’s design but also
                        partnering with Tramp, the web design agency
                        that’s driven more than $2.4 billion in revenue
                        for its clients. With over 50 web design awards
                        under our belt, we're confident we can design a
                        custom website that drives sales for your unique
                        business.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!------------- Academics Content ----------------->
  <div id="academics" class="tramp_tm_section">
    <div class="container">
      <div class="tramp_tm_portfolio">
        <div class="tramp_tm_title">
          <h3><span>Academic Achievements</span></h3>
        </div>
        <div class="portfolio_filter">
          <ul>
            {% for filter in academics_filter %}
            <li>
                <a href="#" {% if forloop.first %} class="current" {% endif %} data-filter=".{{ filter.slug }}">
                  {{ filter.category }}
                </a>
            </li>
            {% endfor %}
          </ul>
        </div>
  
        <div class="portfolio_list">
          <ul class="portfolio_item">
  
            {% for academic in academics %}
            <li class="{{academic.filter_category.slug}}">
              <div class="list_inner">
                <div class="abs_image">
                  <img src="{{academic.image.url}}" alt="{{academic.title}}" />
                  <div
                    class="main"
                    data-img-url="{{academic.image.url}}"
                  ></div>
                </div>
                <div class="details">
                  <span class="category"><a href="#">{{academic.sub_title}}</a></span>
                  <h3 class="title">
                    <a class="portfolio_popup" href="#"
                      >{{academic.title}}</a
                    >
                  </h3>
                </div>
  
                {% if academic.description %}
                <div class="hidden_content_portfolio">
                  <div class="popup_details">
                    <div class="textbox">
                      <p>{{academic.description}}</p>
                    </div>
                  </div>
                </div>
                {% endif %}
              </div>
            </li>
            {% endfor %}
            
          </ul>
        </div>
      </div>
    </div>
  </div>