{% load static %}

<div class="container">
  <div class="tramp_tm_news">
    <div class="tramp_tm_title">
      <h3><span>Porfolio Projects</span></h3>
    </div>

    <div class="news_filter">
      <ul>
        {% for topic in projectfilters %}
        <li>
          <a href="#"  {% if forloop.first %} class="current" {% endif %} data-filter=".{{ topic.slug }}">
            {{topic.topic}}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="news_list">
      <ul class="news_item">

        {% for project in projects %}
        <li class="{{project.filter_category.slug}}">
          <div class="list_inner">
            {% if project.image %}
            <img class="news_image" src="{{project.image.url}}" alt="{{project.title}}" />
            {% endif %}
            <div class="left">
              <div class="tramp_tm_metabox">
                <ul>
                  <li>
                    <span>{{project.sub_title}}</span>
                  </li>
                </ul>
              </div>
              <div class="title">
                <h3>
                  <a class="text_hover_effect" href="#"
                    >{{project.title}}</a
                  >
                </h3>
              </div>
            </div>
            <div class="right">
              <h3>Beginner</h3>
            </div>

            <div class="news_hidden_details">
              <div class="news_popup_informations">
                <div class="text">
                  {{project.description | safe}}
                </div>
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>


  </div>
</div>